* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
}

.container {
    width: 90%;
    margin: auto;
    max-width: 1200px;
}

/* Header */
header {
    background-color: #0077b6;
    color: #fff;
    padding: 20px 0;
}

header .container {
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

header nav ul {
    list-style: none;
    display: flex;
}

header nav ul li {
    margin-right: 20px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

.cta-btn {
    
    color: #fff;
    font-size: 30px;
    text-decoration: none;
    border-radius: 5px;
}

.auth li{
    display: inline-block;
    margin-right: 20px;
}

.auth li a{
    
    color: #fff;
    font-size: 30px;
    border-radius: 5px;
    text-decoration: none;
}

.container1 {
    background-color: #f1f1f1;
    padding: 20px;
    border-radius: 10px;
    margin: auto;
    width: 50%;
    margin-top: 10%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.container1 h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    color: #333;
}

.container1 input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.container1 button {
    background-color: #0077b6;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.container1 button:hover {
    background-color: #0056b3;
}
